*{
    padding: 0;
    margin: 0;
}

body{
    margin: 20px;
    background-image: url(bgimg.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 100px;
    background-image: url(headerbg.jpg);
}

h1{
    text-align: center;
    padding: 10px;
}

p{
    margin: 10px;
    text-align: center;
}

picture{
    display: block;
    max-width: 1200px;
    margin: 20px auto;
}

#img1{
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}
